<!-- expired.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Proviant</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f4f4f4;
            margin: 0;
            padding: 0;
        }

        .container {
            max-width: 600px;
            margin: 0 auto;
            padding: 20px;
            background-color: #ffffff;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            margin-top: 20px;
        }

        h2 {
            color: #333;
        }

        p {
            color: #555;
        }

        .button {
            display: inline-block;
            padding: 10px 20px;
            background-color: #3498db;
            color: #ffffff;
            text-decoration: none;
            border-radius: 5px;
            margin-top: 15px;
        }
    </style>
</head>
<body>
    <div class="container">
        <h2>Product Expiration Notification</h2>
        <p>Hi,</p>
        <p>The following product has expired:</p>
        <p><strong>Product Name:</strong> {{.ProductName}}</p>
        <p><strong>Barcode:</strong> {{.Barcode}}</p>
        <p><strong>ID:</strong> {{.ID}}</p>
        <p><strong>Expiration Date:</strong> {{.ExpireAt}}</p>
        <p>Please take the necessary actions to ensure the safety and quality of your products.</p>
        <p>Thank you for using proviant</p>
    </div>
</body>
</html>