{{define "footer"}}
<footer class="footer mt-auto py-3">
	<div class="border-primary border-top border-3">
		<div class="container">
			<div class="d-flex flex-wrap justify-content-between align-items-center py-2">
				<a class="fw-light text-decoration-none" href="https://www.flaticon.com/free-icons/fruits-and-vegetables" title="fruits-and-vegetables icons">Fruits-and-vegetables icons created by wanicon - Flaticon</a>
				<ul class="col-md-4 justify-content-end list-unstyled d-flex fs-2">
					<li class="ms-3">
						<a href="https://gitlab.com/Isotop7/proviant">
							<i class="bi bi-gitlab text-primary"></i>
						</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</footer>
{{end}}