@page
@model isgood.Pages.Products.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create new product</h1>

<div>
    <div>
        <form method="post">
            <div asp-validation-summary="ModelOnly"></div>
            <div class="form-group">
                <label asp-for="Product.Barcode"></label>
                <input asp-for="Product.Barcode"/>
                <span asp-validation-for="Product.Barcode"></span>
            </div>
            <div class="form-group">
                <label asp-for="Product.BestBefore"></label>
                <input asp-for="Product.BestBefore"/>
                <span asp-validation-for="Product.BestBefore"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create"/>
            </div>
        </form>
    </div>
</div>

<div>
    <article id="article">
        <h2>Note</h2>
        <p>
          Due to the queue based workflow it can take several seconds
          until the new product is shown in the overview. The product
          is expanded with properties from 
          <a href="https://world.openfoodfacts.org/">OpenFoodFacts</a>. This
          can take some time.
        </p>
        <footer>
          <small>Minimum waiting time is your APIWorkerService timeout.</small>
        </footer>
      </article>
</div>

@section Scripts {
    @{
        //await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}