@page
@model isgood.Pages.Products.EditModel
@{
    ViewData["Title"] = "Edit";
}

<h1>Edit product / Barcode => #@Html.DisplayFor(Product => Model.Product.Barcode)</h1>

<div>
    <div>
        <form method="post">
            <div asp-validation-summary="ModelOnly"></div>
            <input type="hidden" asp-for="Product.Id" />
            <input type="hidden" asp-for="Product.Barcode" />
            <div>
                <label asp-for="Product.ProductName"></label>
                <input asp-for="Product.ProductName"/>
                <span asp-validation-for="Product.ProductName"></span>
            </div>
            <div>
                <label asp-for="Product.Categories"></label>
                <textarea asp-for="Product.Categories"></textarea>
                <span asp-validation-for="Product.Categories"></span>
            </div>
            <div>
                <label asp-for="Product.BestBefore"></label>
                <input asp-for="Product.BestBefore"/>
                <span asp-validation-for="Product.BestBefore"></span>
            </div>
            <div>
                <label asp-for="Product.NotifiedAt"></label>
                <input asp-for="Product.NotifiedAt"/>
                <span asp-validation-for="Product.NotifiedAt"></span>
            </div>
            <div>
                <input type="submit" value="Save"/>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">⏎ Back to List</a>
</div>

@section Scripts {
    @{
        //await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}