<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - isgood</title>
    <link rel="stylesheet" href="/css/pico.css">
    <link rel="stylesheet" href="/css/isgood.css">
</head>

<body>
    <main class="container">
        <nav>
            <ul>
                <li><a href="./"><strong>isgood</strong></a></li>
            </ul>
            <ul>
                <form method="get" action="/Products/Search" id="searchForm">
                    <input type="search" id="search" name="query" placeholder="Search ...">
                </form>
            </ul>
            <ul>
                <li>
                    <details role="list">
                    <summary aria-haspopup="listbox" role="link">Products</summary>
                    <ul role="listbox">
                        <li><a href="/Products">List</a></li>
                        <li><a href="/Products/Create">Create</a></li>
                    </ul>
                    </details>
                </li>
                <li><a href="./Error">Login</a></li>
            </ul>
        </nav>

        <main>
            @RenderBody()
        </main>

        <footer>
            <div>
                &copy; 2023</a>
            </div>
        </footer>
    </main>

    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>