@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1>isgood</h1>
    <p>
        <ul>
            <li><a href="Products">List of Products</a></li>
        </ul>
    </p>
</div>
