<!doctype html>
<html lang="de" data-bs-theme="light" class="h-100">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ if .Title }}{{ .Title}}{{ else }}proviant{{ end }}</title>
  <link rel="stylesheet" href="/assets/css/main.css">
</head>

<body class="align-items-center py-5 bg-secondary-subtle">
  <main>
    <div class="container text-center">
      <div class="text-danger" style="font-size: 8rem;">
        <i class="bi bi-bug-fill"></i>
      </div>
      <div>
        <div class="display-5 fw-bold my-4">
          Sorry!
        </div>
        <h4>There seems to be an error...</h3>
      </div>
      <div class="mt-4">
        <h4>Code: {{ .Code }}</h4>
      </div>
      <div class="mt-3">
        <p class="font-monospace">
          {{ .Message }}
        </p>
      </div>
    </div>
  </main>
  <script src="/assets/js/bootstrap.bundle.min.js"></script>
</body>

</html>