{{ define "content" }}
<div class="my-3 text-bg-tertiary w-100">
    <div class="row g-0">
        <div class="col-md-2 m-auto p-3">
            <img src="{{- .Product.ImageURL -}}" class="img-fluid" alt="Image URL">
        </div>
        <div class="ms-auto col-md-10 pb-4 border-bottom border-primary border-2">
            <div>
                <h2>
                    {{- .Product.ProductName -}}
                </h2>
            </div>
            <div class="row my-2">
                <div class="col-4 fw-bold">
                    ID
                </div>
                <div class="col col-auto">
                    <span class="badge bg-primary">#{{- .Product.ID -}}</span>
                </div>
            </div>
            <div class="row my-2">
                <div class="col-4 fw-bold">
                    Barcode
                </div>
                <div class="col col-auto font-monospace">
                    {{- .Product.Barcode -}}
                </div>
            </div>
            <div class="row my-2">
                <div class="col-4 fw-bold">
                    Categories
                </div>
                <div class="col col-auto">
                    {{- badgifyCategories .Product.Categories 5 -}}
                </div>
            </div>
            <div class="row my-2">
                <div class="col-4 fw-bold">
                    Countries
                </div>
                <div class="col col-auto">
                    {{- .Product.Countries | splitString -}}
                </div>
            </div>
            <div class="row mt-4 my-2" style="color: var(--bs-pink)">
                <div class="col-4 fw-bold">
                    <i class="bi bi-trash3 me-3"></i>{{- .Product.ExpireAt | humanDate -}}
                </div>
                <div class="col-4 fw-bold">
                    <i class="bi bi-upc-scan me-3"></i>{{- .Product.ScannedAt | humanDateTime -}}
                </div>
                <div class="col-4 fw-bold">
                    <i class="bi bi-bell me-3"></i>{{- .Product.NotifiedAt | humanDateTime -}}
                </div>
            </div>
        </div>
    </div>
    <div class="d-flex justify-content-end mt-3">
        <a class="btn btn-outline-primary" href="/web/products/{{ .Product.ID }}/edit">
            <i class="bi bi-wrench me-2"></i>Edit
        </a>
    </div>
</div>
{{ end }}